
.error-container{
    position: absolute;
    /* width: 250px; */
    height: 100px;
    border: 2px solid #fc9a9a;
    background-color: #ffcccc;
    left : -300px;
    top : 70px;
    border-radius: 8px;
    transition: all .7s;
    padding: 8px;
}

td{
    outline: none;
    /* border: 1px solid transparent; */
}

.inst-cont{
    background-color: #c3f7e7;

}

.table{
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
      
}


/*  GReen shade #d1e7dd*/